@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    font-size: 24px;
}

* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
    color: black;
}

body {
    background-color: #fdf2f8;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    gap: 50px;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 200px) 100px 100px;
    justify-content: center;
    gap: 20px;
}

.item {
    background-color: #9ADCFF;

    border-radius: 10px;
    text-align: center;
}

.newItem {
    text-align: center;
    background-color: #93c5fd;
    border-radius: 10px;

    position: relative;
}

#btn, #submit {
    font-family: inherit;
    font-size: 20px;

    width: 150px;
    height: 2em;
    border: none;

    background-color: #9ADCFF;
    border-radius: 10px;
    cursor: pointer;
}

#btn:hover {
    border-radius: 20px;
}

.rmButton {
    font-size: 16px;
    border: none;
    background-color: #93c5fd;
    text-decoration: underline;
    cursor: pointer;

    position: absolute;
    top: 4px;
    right: 5px;
}

.form-container {
    border-radius: 20px;
    box-shadow: 2px 2px 3px #e5e7eb;
    opacity: 0;
    background-color: #fce7f3;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
    gap: 20px;
}

.form {
    display: grid;
    gap: 15px;
    place-items: center center;
}

input[type="text"] {
    font-family: inherit;
    
    width: 200px;
    height: 1.5rem;

    background-color: #9ADCFF;
    border-radius: 5px;
    border: none;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #fafaf9;
}

label {
    font-size: 20px;
}