:root {
    font-size: 24px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    gap: 50px;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 200px) 100px 100px;
    justify-content: center;
}

.item {
    border: 1px solid black;
    text-align: center;
}

.newItem {
    border: 1px solid black;
    text-align: center;

    position: relative;
}

#btn {
    width: 200px;
    height: 2em;

    font-size: 20px;
}

.rmButton {
    font-size: 16px;
    width: 20px;

    position: absolute;
    top: 2px;
    right: 1px;
}

.form-container {
    opacity: 0;
    background-color: bisque;
    padding: 20px;
}